:root {
    --background: #FCF5E2;
    --orange: #FECB75;
    --red: #FD5C5A;
    --light-teal: #8BDADA;
    --dark-teal: #4CC2C0;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: "Original Surfer", 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
* p {
    font-family: 'Roboto', sans-serif;
}
    */

body {
    background-color: var(--background);
}

html {
    scroll-behavior: smooth;
}

#container {
    margin: 0 auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Make it span the full width */
    margin-top: .5rem;
    margin-bottom: 0.5rem;
    color: var(--red);
}

h1 {
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
}

h3 {
    font-weight: 300;
    font-size: 1.5rem;
}

p {
    font-weight: 200;
}

a {
    color: var(--dark-teal);
}

header h1 {
    font-size: 4rem;
    line-height: 4.2rem;
    margin: auto;
}

header p {
    font-size: 1.5rem;
    color: #4CC2C0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0; 
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; 
    gap: 1rem;
}

nav ul li {
    background-color: var(--orange);
    border: outset var(--red) 3px;
    border-radius: 4px;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    font-size: 32px;
    line-height: 40px;
    color: var(--red);
}

nav ul li:hover {
    background-color: rgba(var(--orange), 0.9);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    gap: 1rem;
    text-align: center;
}

/*
article h2 {
    grid-column: 2 ;
    grid-row: 1 /span 2;
    text-align: left;
}

article h3 {
    grid-column: 2;
    grid-row: 3 ;
}

article p {
    grid-column: 2;
    grid-row: 4;
    font-size: large;
    font-weight: 100;
    line-height: 1.75rem;
}
    */

article img {
    border: var(--orange) 1px outset;
    border-radius: 10px;
    max-height: 300px;
}


#classes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

table {
    border: var(--light-teal) 2px solid;
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th {
    background-color: var(--light-teal);
    font-weight: 500;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 1rem;
}

#story {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 80vw;
    margin: 2rem 0;
    gap: 1rem;
    float: left;
}

#story img {
    width: 50%;
    height: auto;
    float: right;
    margin-bottom: 1rem;
}

#story h2, p {
    float: left;
    text-align: left;
}

aside {
    background-color: var(--light-teal);
    border: var(--orange) 2px solid;
    border-radius: 6px;
    padding: .5rem;
}

footer {
    width: 100vw;
    border-top: #FD5C5A 1px solid;
}

@media (min-width: 1024px) {
    #container {
        position: relative;
        align-items: flex-start;
        width: 90vw; 
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: auto 1rem auto;
        max-width: 90%;
        grid-gap: .5rem;
        align-items: start;
    }

    article h2 {
        grid-column: 2 /span 2;
        grid-row: 1;
        text-align: left;
    }

    article h3 {
        grid-column: 3;
        grid-row: 2;
        text-align: left;
    }

    article p {
        grid-column: 3;
        grid-row: 3;
        text-align: left;
    }

    article img {
       grid-column: 1 / span 2;
       grid-row: 2 / span 2;
       max-height: 50vh;
       justify-self: end;
       max-width: 100%;
    }
}


